<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <h1>Welocome!</h1>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-input placeholder="username">username</ion-input>
      <ion-input placeholder="password" type = "password">password</ion-input>
      <ion-button color="primary" (click)= "Login()">Login/ion-button>
      <ion-button color="secondary" (click)= "Register()">Sign up</ion-button>
    </ion-item>
   
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>
</ion-content> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welocome</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)] = "user.email" placeholder ="username"></ion-input>

      </ion-item>
      <ion-item>
        <ion-input [(ngModel)] = "user.password"placeholder = "password" type = "password"></ion-input>

      </ion-item>
      <ion-item>
        <ion-button color="primary" (click)= "Login()">Login</ion-button>

      </ion-item>
      <ion-item>
        
        <ion-button color="secondary" (click)= "register()">Sign up</ion-button>
      </ion-item>          
     
    </ion-card-content>
  </ion-card>
</ion-content>
